In [ ]:
https://code.kx.com/pykx/4.0/getting-started/quickstart.html

In [4]:
import pykx as kx
kx.random.random([3, 4], 10.0)

pykx.List(pykx.q('
0.8388858 1.959907 3.75638  6.137452
5.294808  6.916099 2.296615 6.919531
4.707883  6.346716 9.672398 2.306385
'))

In [5]:
kx.Table(data = {'x': kx.random.random(10, 10.0), 'x1': kx.random.random(10, ['a', 'b', 'c'])})

pykx.Table(pykx.q('
x         x1
------------
9.49975   b
4.39081   c
5.759051  a
5.919004  a
8.481567  c
3.89056   a
3.91543   b
0.8123546 a
9.367503  a
2.782122  a
'))

In [7]:
qarray = kx.random.random(10, 1.0)
qarray

pykx.FloatVector(pykx.q('0.08724017 0.1024432 0.8671096 0.7278528 0.1627662 0.6884756 0.8177547 0.7520..'))

In [14]:
N = 100
qtable = kx.Table(
    data={
        'x': kx.random.random(N, 1.0),
        'x1': 5 * kx.random.random(N, 1.0),
        'x2': kx.random.random(N, ['a', 'b', 'c'])
    }
)
qtable
# qtable[['x', 'x1']]

pykx.Table(pykx.q('
x           x1
--------------------
0.5465625   2.128829
0.8298632   4.754499
0.004975893 4.796841
0.3654455   1.661555
0.6857602   2.791548
'))

In [23]:
qf = kx.q('{x+til 10}')
qf(kx.toq([random.random() for _ in range(10)], kx.FloatVector))

pykx.FloatVector(pykx.q('0.2562107 1.117509 2.094923 3.002895 4.540185 5.040627 6.817444 7.954186 8.97..'))

In [28]:
qvec = kx.random.random(10, 10, seed=42)
display(qvec)
qvec.apply(lambda x:x+1)

4 7 2 2 9 4 2 0 8 0

pykx.LongVector(pykx.q('5 8 3 3 10 5 3 1 9 1'))

In [39]:
qarray1 = kx.random.random(10, 1.0)
display(qarray1)
qarray2 = kx.random.random(10, 1.0)
qarray2

import numpy as np
display(np.max(qarray1))
display(np.sum(kx.random.random(10, 10)))
np.add(qarray1, qarray2)

pykx.FloatVector(pykx.q('0.1392257 0.2701876 0.6357182 0.7771303 0.08226874 0.5132018 0.4947829 0.8665..'))

np.float64(0.9082711203955114)

np.int64(38)

pykx.FloatVector(pykx.q('1.118835 0.5779367 1.000946 1.736248 0.4944553 1.146243 1.070052 0.8755683 0...'))

In [49]:
N = 100
qtable = kx.Table(data={
    'x': kx.random.random(N, ['a', 'b', 'c']),
    'x1': kx.random.random(N, 1.0),
    'x2': 5 * kx.random.random(N, 1.0)})
display(qtable[0:5])
display(kx.q.sql("SELECT * FROM $1 WHERE x='a'", qtable[0:5]))
qtable[0:5].select(where=kx.Column('x')=='a')

pykx.Table(pykx.q('
x x1        x2
----------------------
b 0.2832554 0.818039
b 0.6623604 2.519957
a 0.7068963 4.114807
a 0.5349905 0.03390473
b 0.3850541 4.628034
'))

pykx.Table(pykx.q('
x x1        x2
----------------------
a 0.7068963 4.114807
a 0.5349905 0.03390473
'))

pykx.Table(pykx.q('
x x1        x2
----------------------
a 0.7068963 4.114807
a 0.5349905 0.03390473
'))

In [54]:
qvec = kx.q.til(10)
display(qvec)
kx.q.mavg(3, qvec)

pykx.LongVector(pykx.q('0 1 2 3 4 5 6 7 8 9'))

pykx.FloatVector(pykx.q('0 0.5 1 2 3 4 5 6 7 8'))

In [57]:
%pip install markdown2
help(kx.q.max)
help(kx.q.abs)

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: markdown2 in /home/nonroot/.local/lib/python3.13/site-packages (2.5.4)
Note: you may need to restart the kernel to use updated packages.
Help on UnaryPrimitive in pykx:

pykx.UnaryPrimitive = pykx.UnaryPrimitive(pykx.q('max'))
    • max

    Maximum.

        >>> pykx.q.max([0, 7, 2, 4 , 1, 3])
        pykx.LongAtom(q('7'))

Help on UnaryPrimitive in pykx:

pykx.UnaryPrimitive = pykx.UnaryPrimitive(pykx.q('abs'))
    • abs

    Where x is a numeric or temporal, returns the absolute value of x. Null is returned if x is null.

        >>> pykx.q.abs(-5)
        pykx.LongAtom(q('5'))

In [60]:
qdictionary = kx.toq({
    'a': 5,
    'b': range(10),
    'c': np.random.uniform(low=0.0, high=1.0, size=(5,))})
display(qdictionary)
display(qdictionary.py())

qvec = kx.toq(np.random.randint(5, size=10))
display(qvec)
qvec.py()

pykx.Dictionary(pykx.q('
a| 5
b| 0 1 2 3 4 5 6 7 8 9
c| 0.5614342 0.7826088 0.5281516 0.30033 0.006055199
'))

{'a': 5,
 'b': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 'c': [0.5614342470206114,
  0.7826088187041113,
  0.5281516205663705,
  0.3003299855194633,
  0.006055198798044947]}

pykx.LongVector(pykx.q('0 1 0 2 0 4 0 2 0 2'))

[0, 1, 0, 2, 0, 4, 0, 2, 0, 2]

In [ ]:
https://code.kx.com/pykx/4.0/examples/interface-overview.html#ipc-communication

In [64]:
kx.FloatAtom(kx.q('1f'))

pykx.FloatAtom(pykx.q('1f'))

In [65]:
from datetime import date
kx.DateAtom(date(2020, 1, 1))

pykx.DateAtom(pykx.q('2020.01.01'))

In [66]:
kx.List([[1, 2, 3], [1.0, 1.1, 1.2], ['a', 'b', 'c']])

pykx.List(pykx.q('
1 2   3
1 1.1 1.2
a b   c
'))

In [72]:
# (Keyed)Table
kx.Table([[1, 2, 'a'], [2, 3, 'b'], [3, 4, 'c']],
         columns = ['col1', 'col2', 'col3'])
kx.Table(data = {'col1': [1, 2, 3], 'col2': [2 , 3, 4], 'col3': ['a', 'b', 'c']})

pykx.Table(pykx.q('
col1 col2 col3
--------------
1    2    a
2    3    b
3    4    c
'))